<div class="navbar-dark bg-dark">
  <ul class="nav justify-content-center">
    <li class="nav-item links">
      <a class="nav-link " routerLink="servicios">Servicios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contactos">Contactos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://facebook.com"><i class="fab fa-facebook  fa-2x"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.youtube.com/"><i class="fab fa-youtube  fa-2x"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.instagram.com"><i class="fab fa-instagram  fa-2x"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://twitter.com"><i class="fab fa-twitter  fa-2x"></i></a>
    </li>
  </ul>
  <br>
  <p><i class="far fa-copyright"></i>Todos los derechos reservados</p>
</div>
