<div class="contenedor">
  <!-- Slider -->

  <app-slider></app-slider>

  <!-- Reseña  -->

  <section>
    <article>
      <h2>NUESTRA FINCA</h2>
      <img class="imgArticle" src="./assets/img/finca.jpeg" alt="almacigo " />
      <br>
      <p>
      Nuestra finca es una aguacatera la cual fue iniciada a mediados
      del 2019, este proyecto ha sido muy importante y enriquecedor el cual ha
      ayudado a que se gerene varios empleos en la finca y que cada una de las
      personas que hacer parte de este proyecto pudieran adquirir un
      conocimiento acerca de como es el proceso con los cultivos de agucate.</p>
      <p>
        La finca cuenta con 2.500 arboles de aguacate, los cuales se tiene proyectados que para el 2024 tengamos una producción de 50.000 toneladas de agucate por año. Lo cual proporcionara un gran desarrollo ecomonico tanto para la comunidad aledaña para la finca como para nuestra empresa.
      </p>
    </article>
  </section>
</div>
